section {
    padding: 20px 50px 40px 50px;
}

.gray {
    background: white;
}

.image-one {
    width: 20%;
    height: 20%;
    float: left;
    border: 1px solid lightgrey;
    margin: 0 30px 10px 0;
    vertical-align: center;
}

.image-two {
    width: 30%;
    height: 30%;
    float: right;
    border: 1px solid lightgrey;
    margin: 0 0 10px 30px;
}

.image-three {
    width: 30%;
    height: 30%;
    float: left;
    border: 1px solid lightgrey;
    margin: 0 30px 10px 0;
}

.quiz-section {
    text-align: center;
    margin-bottom: 20px;
}

#results {
    border: 1px solid #0B486B;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
}

.good-score {
    color: green;
}

.bad-score {
    color: red;
}

.middle-score {
    color: darkgoldenrod;
}

.hidden {
    display: none;
}