#user-guess {
    width: 200px;
    font-size: 1.4em;
}

.guess-section {
    text-align: center;
}

.rules-section, #results-section {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #0B486B;
}

#results-section {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}