body {
    background: #d4ffd4;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #0B486B;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

a {
    color: #0B486B;
}

header {
    text-align: center;
    margin: 20px 0;
}

nav {
    background: #0B486B;
    padding: 8px 0;
    color: white;
    margin-bottom: 40px;
}

nav a {
    color: white;
}


ul {
    list-style-position: inside;
}

button {
    background: #79BD9A;
    border: 1px solid white;
    font-size: 1.2em;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0B486B;
}

button :hover {
    color: white;
}



footer {
    background: #0B486B;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: .8em;
}